WALLET_CONNECT_PROJECT_ID="<YOUR_WALLET_CONNECT_PROJECT_ID>"
# Rethink subgraph
GRAPH_BASE_URL="https://api.studio.thegraph.com/query/"
GRAPH_USERID="<YOUR_GRAPH_USERID>"
GRAPH_VERSION="version/latest"
ENV_EXCLUDE_TEST_FUNDS="false"

# Zodiac Subgraphs
ZODIAC_GRAPH_BASE_URL=https://airlock.gnosisguild.org/api/v1/subgraph/
ZODIAC_GRAPH_SEPOLIA=B1xxjy8WBWLkEo2pD7PDHM2LHLAryMdoWiH4kHLL4buP
ZODIAC_GRAPH_GNOSIS_CHAIN=9KdeUKvCupvXcRqbNt9HSX3idsiYdmt81XeAvffFEZA6
ZODIAC_GRAPH_ETHEREUM=HYArYfPMEAawR5wFbr7qUVAgLbG9fpF91iwPVE6jKfLc
ZODIAC_GRAPH_POLYGON=JDFgdGqUsDci3yv5HgEhFDFT65hmAtnnGgp4tN6nksGG
ZODIAC_GRAPH_ARBITRUM=5TLTw4whZvjbtQmzomRHJDrCX9VQ32mHSdrPN7oxdn4v
ZODIAC_GRAPH_OPTIMISM=HMJik2c7BEXFy1gp7H3zK8TSqubzeGQ8sfZjgGbLJjwy
ZODIAC_GRAPH_AVALANCHE=6pVVa2Q53HRqQahiZLovV5AUN48nK28Cym6TRbw4ABP8
ZODIAC_GRAPH_BSC=7ffR3tdeVZ2SrHcnzCswBoqX7Zx4P4wkG9V6qEUomdU
ZODIAC_GRAPH_BASE=DJTPvUAk3iyZzDhXhoFwH18qiUJDyS4LXDU9EfWBLEWB

# Explorer API keys
ETHERSCAN_KEY="<YOUR_EXPLORER_API_KEY>"
POLYGONSCAN_KEY="<YOUR_EXPLORER_API_KEY>"
ARBISCAN_KEY="<YOUR_EXPLORER_API_KEY>"
BASESCAN_KEY="<YOUR_EXPLORER_API_KEY>"

# Localhost node explorer tryethernal
TRY_ETHERNAL_KEY="<YOUR_EXPLORER_API_KEY>"

# Local node contract addresses
GOVERNABLE_FUND_FACTORY_BEACON=0x99aA73dA6309b8eC484eF2C95e96C131C1BBF7a0
GOVERNABLE_FUND_FACTORY_PROXY=0x98721EFD3D09A7Ae662C4D63156286DF673FC50B
WRAPPED_TOKEN_FACTORY_ADDRESS=0x240A60DC5e0B9013Cb8CF39aa6f9dDd8f25E40D2
NAV_CALCULATOR_BEACON=0xb69FC79100eDd058f9c96c0a13C80124aC1a7D77
NAV_CALCULATOR_PROXY=0xfDD930c22708c7572278cf74D64f3721Eedc18Ad
NAV_EXECUTOR_BEACON=0x7930AC7ddD1e35fD4b25230121A9C45923894e67
NAV_EXECUTOR_PROXY=0x4a680B00eEacbcCA480eB9aB57161A7B08A8F0Ba
RETHINK_FUND_GOVERNOR_BEACON=0x37e2156B0d78098F06F8075a18d7E3a09483048e
POOL_PERFORMANCE_FEE_BEACON=0xfC47d03bd4C8a7E62A62f29000ceBa4D84142343
POOL_PERFORMANCE_FEE_PROXY=0x58d0d610674C69F27B7519a6e2746E8b814548DE
GOVERNABLE_FUND_BEACON=0x76C9284988B979f750BC504173ADc08E00c04398
ROLES_V1_SINGLETON=0x9118EA4a52C6c7873729c8d8702cCd85E573f9E9
ZODIAC_ROLES_V1_BEACON=0x1A223F93131cD7d898c28Ee0B905C39Db474FA08
SAFE_SINGLETON=0x8233369E29653b70E50E93d1276a50B8f2122a01
SAFE_PROXY_FACTORY=0xF978b011bcf604b201996FEb3E53eD3D52F0A90F
RETHINK_READER=0x2F94C3189edA0e357B23048aEc736F323Ac431f6
GOVERNABLE_FUND_FLOWS_BEACON=0x7314AEeC874A25A1131F49dA9679D05f8d931175
GOVERNABLE_FUND_NAV_BEACON=0x132F7D9033b28B08cbc520e1cfD83c6dA3abfA36
CONTRACT_FACTORY_BEACON=0xA199e7ab96BF9DF52C52eb7BAb5572789a726d33
