WALLET_CONNECT_PROJECT_ID="<YOUR_WALLET_CONNECT_PROJECT_ID>"
# Rethink subgraph
GRAPH_BASE_URL="https://api.studio.thegraph.com/query/"
GRAPH_USERID="<YOUR_GRAPH_USERID>"
GRAPH_VERSION="version/latest"
ENV_EXCLUDE_TEST_FUNDS="false"

# Zodiac Subgraphs
ZODIAC_GRAPH_BASE_URL=https://airlock.gnosisguild.org/api/v1/subgraph/
ZODIAC_GRAPH_SEPOLIA=B1xxjy8WBWLkEo2pD7PDHM2LHLAryMdoWiH4kHLL4buP
ZODIAC_GRAPH_GNOSIS_CHAIN=9KdeUKvCupvXcRqbNt9HSX3idsiYdmt81XeAvffFEZA6
ZODIAC_GRAPH_ETHEREUM=HYArYfPMEAawR5wFbr7qUVAgLbG9fpF91iwPVE6jKfLc
ZODIAC_GRAPH_POLYGON=JDFgdGqUsDci3yv5HgEhFDFT65hmAtnnGgp4tN6nksGG
ZODIAC_GRAPH_ARBITRUM=5TLTw4whZvjbtQmzomRHJDrCX9VQ32mHSdrPN7oxdn4v
ZODIAC_GRAPH_OPTIMISM=HMJik2c7BEXFy1gp7H3zK8TSqubzeGQ8sfZjgGbLJjwy
ZODIAC_GRAPH_AVALANCHE=6pVVa2Q53HRqQahiZLovV5AUN48nK28Cym6TRbw4ABP8
ZODIAC_GRAPH_BSC=7ffR3tdeVZ2SrHcnzCswBoqX7Zx4P4wkG9V6qEUomdU
ZODIAC_GRAPH_BASE=DJTPvUAk3iyZzDhXhoFwH18qiUJDyS4LXDU9EfWBLEWB

# Explorer API keys
ETHERSCAN_KEY="<YOUR_EXPLORER_API_KEY>"
POLYGONSCAN_KEY="<YOUR_EXPLORER_API_KEY>"
ARBISCAN_KEY="<YOUR_EXPLORER_API_KEY>"
BASESCAN_KEY="<YOUR_EXPLORER_API_KEY>"
