@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin space-between-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin align-center-content {
  display: flex;
  align-items: center;
}

@mixin transform-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media query mixins (mobile-first)
@mixin xs {
  @media screen and (min-width: $screen-xs) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: $screen-sm) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: $screen-md) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: $screen-lg) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: $screen-xl) {
    @content;
  }
}
// In case we need a custom breakpoint
@mixin breakpoint($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin trans($t: 0.3s) {
  transition: all $t cubic-bezier(0.6, 0.25, 0.1, 0.65);
}
@mixin transElastic($t: 0.6s) {
  transition: all $t cubic-bezier(0.9, 0.1, 0, 1);
}

