$color-white: #FFFFFF;
$color-black: #333333;

/* Vuetify colors */
// Currently also defined in the plugins/vuetify.ts
$color-background: #111C35;
$color-surface: #10192f;
$color-primary: #1F5FFF;
$color-secondary: #D2DFFF;
$color-error: #DE3838;
$color-info: #2196F3;
$color-success: #38DE38;
$color-warning: #FB8C00;

/* Typography */
$color-title: $color-white;
$color-subtitle: #45557F;
$text-lg: 1.3125rem;
$text-md: 1rem;
$text-sm: 0.825rem;

/* Utility colors */
$color-moonlight: rgba(31, 95, 255, 0.16);


// Position Type Colors
$color-position-type-liquid: #DE6A38;
$color-position-type-composable: #38DE8E;
$color-position-type-nft: #741FFF;
$color-position-type-illiquid: #FFD700;
