$navbar-height: 5rem;
$color-white: #FFFFFF;
$color-black: #333333;

/* Utility colors */
$color-dark: #111C35;
$color-navy-gray: #141c2e;
$color-navy-gray-light: #151e33;
$color-table-row: #162039;
$color-hover: #1a2338;
$color-navy-gray-dark: #0f172a;
$color-border-dark: #242c40;
$color-moonlight: rgba(31, 95, 255, 0.16);
$color-moonlight-light: #343d50;
$color-gray-transparent: rgba(246, 249, 255, 0.08);
$color-gray-light-transparent: rgba(246, 249, 255, 0.04);

/* Vuetify colors */
// Currently also defined in the plugins/vuetify.ts
$color-background: $color-dark;
$color-surface: #10192f;
$color-primary: #1F5FFF;
$color-secondary: #D2DFFF;
$color-error: #DE3838;
$color-info: #2196F3;
$color-success: #38DE38;
$color-warning: #FB8C00;

/* Typography */
$color-title: $color-white;
$color-subtitle: #45557F;
$color-light-subtitle: rgba(246, 249, 255, 0.76);

$text-lg: 1.25rem;
$text-md: 1rem;
$text-sm: 0.875rem;
$text-xs: 0.75rem;

// Position Type Colors
$color-position-type-liquid: #DE6A38;
$color-position-type-composable: #38DE8E;
$color-position-type-nft: #741FFF;
$color-position-type-illiquid: #FFD700;

// Breakpoints
$screen-xs: 360px; // Extra small screen / phone
$screen-sm: 480px; // Mobile
$screen-md: 768px; // Tablet
$screen-lg: 960px; // Desktop (small)
$screen-xl: 1200px; // Desktop (large)



/**
Define the needed colors as CSS variables, as they can be used in certain
plugins like Apexcharts with "var(--color-something)" to prevent redefining colors.
 */
:root {
  --color-primary: #{$color-primary};
  --color-subtitle: #{$color-subtitle};
  --color-light-subtitle: #{$color-light-subtitle};
  --color-gray-light-transparent: #{$color-gray-light-transparent};
}
$default-border-radius: 0.25rem;

// Define a mixin to apply border properties based on position
// Define a variable for border properties
$default-border-properties: (
  "border": 1px solid $color-gray-transparent
);
@mixin borderGray($position: "border", $border-radius: true, $border-color: $color-gray-transparent) {
  // Apply border radius if enabled
  @if $border-radius {
    border-radius: $default-border-radius;
  }

  // Apply specific border position.
  #{$position}: 1px solid $border-color;
}