$tooltip-background-color: rgb(var(--v-theme-surface));

/* Links */
a {
  color: $color-white;

  &:visited,
  &:hover,
  &:active {
    color: $color-white;
  }
}


/* Components */
.main_card {
  padding: 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 16px 0 $color-moonlight;
  border-radius: 0.25rem;
  background: rgba(12, 13, 18, 0.16) !important;
}

.card_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.card_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0.25rem;
  border: 1px solid $color-gray-transparent;
}

