$tooltip-background-color: rgb(var(--v-theme-surface));

body,
html {
  overflow-x: hidden;
}

/* Links */
a {
  color: $color-white;
  text-decoration: none;

  &:visited,
  &:hover,
  &:active {
    color: $color-white;
  }
}

/* Components */
.main_title {
  color: $color-primary;
  font-size: $text-md;
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 150%;
}

.main_card {
  padding: 1rem;
  margin-bottom: 2.5rem;
  border-radius: 0.25rem;
  background: $color-surface;

  &__title {
    display: flex;
    align-items: center;
    font-size: $text-lg;
    color: $color-title;
    font-weight: 500;
    letter-spacing: $letter-spacing-lg;
  }
  @include sm {
    margin-bottom: 1rem;
    padding: 1.5rem;
  }
  &--no-padding {
    padding: 0;
  }
  &--plain {
    @include sm {
      box-shadow: none;
    }
  }
}

.main_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: start;

  @include md {
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
  }
  &--no-gap {
    gap: 0;
  }
  &--full-width {
    grid-template-columns: 1fr;
  }
}
.card_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.card_box {
  @include borderGray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 0.75rem;

  &--no-padding {
    padding: 0;
  }
}

.main_expansion_panel {
  background: transparent;

  /* Duplicated class name to override vuetify */
  &.v-expansion-panel.v-expansion-panel {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    border-radius: $default-border-radius;
  }
  &__title {
    font-weight: 700;
    color: $color-white;
    padding: 1.5rem;
    margin-bottom: 0;

    &.v-expansion-panel-title {
      padding: 1.5rem;
      background: $color-surface;
      font-size: 1rem;
      &.v-expansion-panel-title--active {
        .v-expansion-panel-title__icon {
          color: $color-primary;
          align-items: center;
          height: auto;
        }
      }
    }
  }
  &__subtitle {
    color: $color-white;
    font-size: $text-md;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  &__body {
    margin-bottom: 0;

    .v-expansion-panel-text__wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.125rem;
      background: $color-surface;
      padding: 0;
    }
  }
}
/* FORM */
/* Append the asterisk to labels with the class 'required-label' */
.label_required::after {
  content: " *";
  color: $color-primary;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 0.1rem;
  right: 0;
  margin-left: 0.1em;
}

/* TABLES */
// TODO: move to another Table component and all Tables should extend it along with classes.
.main_table {
  thead {
    background-color: $color-dark;
    th {
      color: $color-text-irrelevant;
      font-weight: 500;
    }
  }
  tbody {
    td {
      color: $color-white;
      font-weight: 500;
    }
    tr {
      //background-color: $color-badge-navy;
    }
  }
}

.code_block {
  white-space: pre-wrap; /* This preserves both spaces and line breaks */
  word-break: break-all; /* This ensures long words are broken to fit */
  font-family: monospace; /* Use a monospace font to mimic code appearance */
}

// disable number input field scroll
input[type="number"]:focus:hover {
  pointer-events: none;
}

// Tooltip styles
.v-overlay.v-tooltip .v-overlay__content {
  z-index: 2100;
  pointer-events: all;

  padding: 11px;
  border-radius: 4px;
  background-color: $color-bg-toast;
  box-shadow: 0px 0px 16px 0px $color-box-shadow;

  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: $color-secondary;
}

// remove shadow from expansion panel
.v-expansion-panel {
  background: $color-card-background !important;

  .v-expansion-panel__shadow {
    box-shadow: none;
  }
}


// title grey
.subtitle_steel_blue{
  font-size: 16px;
  font-weight: bold;
  color: $color-steel-blue;
  line-height: 1;
  margin-bottom: 24px;
}

.subtitle_white{
  font-size: 16px;
  font-weight: bold;
  color: $color-white;
  line-height: 1;
}