/* Vuetify overrides */
button.v-btn--variant-outlined {
  border: 2px solid currentColor;
  font-weight: bold;
}

:root {
  /* Duplicated .v-btn to increase specificity, do not remove. */
  .v-btn.v-btn {
    text-transform: none;

    &--size-default {
      height: 2.5rem;
      font-size: $text-sm;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.0525rem;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }
}
