/* Vuetify overrides */
:root {
  /* BUTTONS */
  /* Duplicated .v-btn to increase specificity, do not remove. */
  .v-btn.v-btn {
    text-transform: none;
    font-size: $text-sm;

    &__overlay {
      opacity: 0 !important;
    }
    &:hover {
      .v-btn__overlay {
        opacity: 0 !important;
      }
    }

    /* Default */
    &--variant-elevated {
      border: 2px solid $color-primary;
      &.v-btn--disabled {
        background: $color-primary-darker !important;
        opacity: 1;
        border-color: transparent;
        color: $color-disabled !important;
        i {
          color: $color-disabled !important;
        }

        .v-btn__overlay {
          opacity: 0;
        }
      }
      &:hover {
        background: $color-primary-dark !important;
      }
    }
    &--variant-outlined {
      border-width: 2px;
      font-weight: bold;
    }
    &--size-default {
      line-height: 1;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.0525rem;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
    &--density-compact {
      height: 1.5rem;
    }
    &--density-comfortable {
      height: 2rem;
    }
    &--density-default {
      height: 2.5rem;
    }
  }

  /* INPUTS */
  $input-height: 2.5rem;
  input {
    min-height: $input-height;
    height: $input-height;
    font-size: $text-sm;
    line-height: 1;
    padding: 0.75rem;
  }
  .v-input {
    min-height: $input-height;
    height: $input-height;
    font-size: $text-sm;
    line-height: 1;

    .v-field {
      border-radius: 0;
    }
    .v-field__overlay {
      background: none;
    }
    .v-field__outline {
      display: none;
    }
  }
  /* EXPANSION PANELS */
  .v-expansion-panels {
    z-index: 0;

    .v-expansion-panel-title--active > .v-expansion-panel-title__overlay{
      background-color: initial;
    }
  }
}
