$body-font-family: EudoxusSans, sans-serif;

@use "vuetify/styles" with (
  $body-font-family: $body-font-family,
);

button.v-btn--variant-outlined {
  border: 2px solid currentColor;
  font-weight: bold;
}
