/* Vuetify overrides */
button.v-btn--variant-outlined {
  border: 2px solid currentColor;
  font-weight: bold;
}

:root {
  /* BUTTONS */
  /* Duplicated .v-btn to increase specificity, do not remove. */
  .v-btn.v-btn {
    text-transform: none;
    font-size: $text-sm;

    &--size-default {
      height: 2.5rem;
      line-height: 1;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.0525rem;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }

  /* INPUTS */
  $input-height: 2.5rem;
  input {
    min-height: $input-height;
    height: $input-height;
    font-size: $text-sm;
    line-height: 1;
    padding: 0.75rem;
  }
  .v-input {
    min-height: $input-height;
    height: $input-height;
    font-size: $text-sm;
    line-height: 1;

    .v-field {
      border-radius: 0;
    }
    .v-field__overlay {
      background: none;
    }
    .v-field__outline {
      display: none;
    }
  }
  /* EXPANSION PANELS */
  .v-expansion-panels {
    z-index: 0;

    .v-expansion-panel-title--active > .v-expansion-panel-title__overlay{
      background-color: initial;
    }
  }
}
