/* Specific screens */

/* iPhone SE */
@media screen and (max-width: 320px) {
  .hero-title {
    font-size: 45px;
  }

  .btn-success {
    background-color: #5affb0;
    border-color: #5affb0;
    padding-left: 35px;
    padding-right: 35px;
    color: #00072d;
    font-weight: 500;
  }

  .btn-outline-success {
    color: #5affb0;
    border-color: #5affb0;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: 500;
  }
}

/* iPhone 8 */
@media screen and (max-width: 375px) {
  .hero-title {
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
  .btn-success,
  .btn-success:focus,
  .btn-success:visited,
  .btn-success:disabled,
  .btn-outline-success {
    padding-left: 15px;
    padding-right: 15px;
  }

  .form-button-mobile {
    margin-top: 20px;
  }

  .peckshield-banner {
    margin-top: 10px;
    padding: 20px;
  }

  .peckshield-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 11px;
  }

  .peckshield-title {
    font-size: 24px;
    font-weight: 400;
    color: #5affb0;
    text-align: center;
  }

  .peckshield-description {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
  }

  .section-big {
    padding: 15px;
  }
}

@media (min-width: 770px) {
  .divider-left {
    position: relative;
  }

  .divider-left:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: rgb(32, 164, 221);
    background: -webkit-linear-gradient(
      top,
      rgba(32, 164, 221, 0) 0%,
      #5affb0 48.96%,
      rgba(32, 164, 221, 0) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(32, 164, 221, 0) 0%,
      #5affb0 48.96%,
      rgba(32, 164, 221, 0) 100%
    );
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}
